.card {
 /*  background: #fff; */
  border-radius: 2px;
  height: 255px;
  margin: 0rem;
  position: relative;
  width: 225px;
  border:none;
 /*  box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: rgb(13, 102, 13);;
}
.card > .img-container > img {transition: transform .10s;
  width: 60%
}

.card > .content {
  padding-left: .25rem;
  padding-right: .25rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .record {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .record:hover {
  color: #d50000;
}
img{margin-top: 20px;
  transition: transform .10s;}

img, .img-container:hover {
  -ms-transform: scale(1.10); /* IE 9 */
  -webkit-transform: scale(1.10); /* Safari 3-8 */
  transform: scale(1.10); 
}